extends ../../layouts/default.pug
block main
    if (role.permissions.includes('roles_create'))
        h1(class="mb-3") Thêm mới nhóm quyền
        form(
            action=`${prefixAdmin}/roles/create`
            method="POST"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    id="title"
                    name="title"
                    class="form-control"
                    type="text"
                )
            div(class="form-group")
                label(for="description") Mô tả
                textarea(
                    type="text-area"
                    class="form-control"
                    id="description"
                    name="description"
                )
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Thêm mới