extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    h1(class="mb-3") Chỉnh sửa nhóm quyền
    form(
        - action=`${prefixAdmin}/roles/edit/${record.id}?_method=PATCH`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                id="title"
                name="title"
                class="form-control"
                value=record.title
            )
        div(class="form-group")
            label(for="description") Mô tả
            textarea(
                id="description"
                name="description"
                class="form-control"
            ) !{record.description}
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Chỉnh sửa