extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main 
    +alert-success(5000)
    +alert-error(5000)
    .container.my-3 
        .row 
            .col-12 
                +box-head("Giỏ hàng")
        
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh 
                            th Tên 
                            th Giá
                            th Số lượng 
                            th Tổng tiền 
                            th Hành động
                    tbody
                        if (cart.products.length > 0) 
                            each item, index in cart.products
                                tr 
                                    td #{index + 1}
                                    td
                                        img(src=item.productInfo.thumbnail, alt=item.productInfo.title width="80px")
                                    td 
                                        a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                    td #{item.productInfo.priceNew}$
                                    td 
                                        input(
                                            type="number"
                                            style="width: 60px"
                                            value=item.quantity
                                            min="1"
                                            product-id=item.product_id
                                            name="quantity"
                                        )
                                    td #{item.totalPrice}$
                                    td
                                        a(
                                            href=`/cart/delete/${item.product_id}`
                                            class="btn btn-danger"
                                            button-delete-product-item
                                        ) Xóa
                        else 
                            h2 Bạn chưa có sản phẩm nào trong giỏ hàng
                h3.text-right Tổng đơn hàng: #{cart.totalArrayPrice}$
                div(class="text-right mt-3")
                    a(
                        href="/checkout"
                        class="btn btn-success"
                    ) Thanh toán
    script(src="/js/cart.js") 