extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    h1.mb-3 Trang tổng quan
        
        .row 
            .col-12 
                .card.mb-3 
                    .card-header Thông tin tài khoản
                    .card-body 
                        div(class="mb-3") <b>Họ tên: </b> #{user.fullName}
                        div(class="mb-3") <b>Email: </b> #{user.email}
                        div(class="mb-3") <b>Số điện thoại: </b> #{user.phone}
                        div(class="mb-3") <b>Nhóm quyền: </b> #{role.title}
        
        .row 
            .col-6
                .card.mb-4 
                    .card-header Danh mục sản phẩm
                    .card-body 
                        p Số lượng: <b> #{statistic.productCategory.total} </b>
                        p Hoạt động: <b> #{statistic.productCategory.active} </b>
                        p Dừng hoạt động: <b> #{statistic.productCategory.inactive} </b>
            .col-6
                .card.mb-4 
                    .card-header Sản phẩm
                    .card-body 
                        p Số lượng: <b> #{statistic.product.total} </b>
                        p Hoạt động: <b> #{statistic.product.active} </b>
                        p Dừng hoạt động: <b> #{statistic.product.inactive} </b>
        
        .row 
            .col-6
                .card.mb-4 
                    .card-header Tài khoản admin
                    .card-body 
                        p Số lượng: <b> #{statistic.adminAccount.total} </b>
                        p Hoạt động: <b> #{statistic.adminAccount.active} </b>
                        p Dừng hoạt động: <b> #{statistic.adminAccount.inactive} </b>
            .col-6
                .card.mb-4 
                    .card-header Tài khoản client
                    .card-body 
                        p Số lượng: <b> #{statistic.clientAccount.total} </b>
                        p Hoạt động: <b> #{statistic.clientAccount.active} </b>
                        p Dừng hoạt động: <b> #{statistic.clientAccount.inactive} </b>  