extends ../../layouts/default.pug
block main 
    h1(class="mb-3") Thông tin cá nhân
    if (user.avatar)
        div(class="mb-4")
            img(
                src=user.avatar 
                style="width: 200px"
            )
    if (user.fullName)
        div(class="mb-3") Họ và tên: <b>#{user.fullName}</b>
    if (user.email)
        div(class="mb-3") Email: <b>#{user.email}</b>
    if (user.phone)
        div(class="mb-3") Số điện thoại: <b>#{user.phone}</b>
    if (user.status)
        div(class="mb-3")
            span Trạng thái:    
            if (user.status == "active")
                span(
                    class="badge badge-success"
                ) Hoạt động
            else 
                span(
                    class="badge badge-danger mb-3"
                ) Dừng hoạt động
    if (role.title)
        div(class="mb-3") Nhóm quyền: <b>#{role.title}</b>
    
    a(
        href=`${prefixAdmin}/my-account/edit`
        class="btn btn-warning"
    ) Chỉnh sửa